<div class="row">
    <div class="col-md-4 mt-4">
        <button>Learn free now</button>
    </div>
    <div class="col-md-8">
        <h2 class="my-4">{{ course.name }} Zero to Hero</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ course.videoId }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h5 class="mt-2">{{ course.description }}</h5>
        <h6 class="mt-4">Level: {{ course.level }}</h6>
    </div>
</div>