<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section>
      <strong>Home</strong>
      <strong>About</strong>
      <strong>IT-Education</strong>
      <strong>Forum</strong>
      <strong>Docs</strong>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
</footer>