<div class="wall">
    <video autoplay loop muted class="img-fluid" src="../../img/wallpapers/clock.mp4"></video>
    <div class="content">
        <span>Learn how to create a great web application -- with -- LiWenHou</span>
        <button type="button" class="btn btn-outline-info btn-lg">Start free now</button>    
    </div>
    <div class="content-2">
        <video autoplay loop muted class="" src="../../img/wallpapers/OPskull.mp4"></video>
    </div>
</div>